<div class='modal' ng-click='close()'>

	<div class='overlay' ng-hide='loading' ng-click='$event.stopPropagation();'>

		<h2 ng-click='edit.editing.title = !edit.editing.title' ng-show='!edit.editing.title'>{{ card.title }}</h2>

		<div class='edit-title-card' ng-show='edit.editing.title'>
			<form>
				<input type='text' ng-model='edit.title'>
				<button ng-click='updateCard("title")'><i class='fa fa-pencil-square-o'></i></button>
			</form>

			<a href="" ng-click='cancelEdit("title")'>Cancel</a>
			
		</div>

		<div>
			<p class='in-list'>in list :<span>{{ card.list.title }}</span></p>

			<div class='mark-completed'>
				<a href="" ng-click='markCompleted()'><i class='fa fa-check-circle-o'></i>Mark Completed</a>
			</div>
		</div>
		

		<div class='separator'>Description</div>

		<div class='description'>
			<p ng-click='edit.editing.description = !edit.editing.description' ng-show='!edit.editing.description'>{{ card.description }}</p>

			<div ng-show='edit.editing.description'>
				<form>
					<input type='text' ng-model='edit.description'>
					<button ng-click='updateCard("description")'><i class='fa fa-pencil-square-o'></i></button>
				</form>

				<a href="" ng-click='cancelEdit("description")'>Cancel</a>
				
			</div>
		</div>

		<div class='separator'>Members</div>

		<div class='members'>
			<div class='add-member'>
				<a href="" ng-click='searchMember = true'><i class='fa fa-users'></i>Add a Member?</a>
			</div>

			<div ng-show='searchMember' class='search-member'>
				<input type='text' placeholder='Find Users' ng-keyup='findUsers()' ng-model='searchParams'>
				<a href="" ng-click='searchParams=""; searchMember=false'>Cancel</a>
				<ul>
					<li ng-repeat='user in users' ng-click='addMember(user)'>
						<i class='fa fa-user-plus'></i>{{ user.username }}</li>
				</ul>
			</div>

			<div class='users-separator'><i class='fa fa-dot-circle-o'></i></div>

			<ul>
				<li ng-repeat='user in card.users'><i class='fa fa-user'></i>{{ user.username }}</li>
			</ul>
		</members>

		<div class='separator'>Activities</div>

		<div class='activities'>
			<div ng-repeat='activity in card.card_activities | orderBy : "-created_at"'>
				{{ activity.description }} <span> on {{ activity.created_at | date }}</span>
			</div>
		</div>

	</div>
</div>